* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* !divin icindeki elemanlari ortalamak istiyorsan üstteki 3 lüyü kullanabilirsin */
  padding-top: 50px;
  background-color: #e1e3ea;
  height: 100vh;
  font-family: sans-serif;
  background-image: linear-gradient(to top, #3c1388 0%, #30d093 100%);
}
button {
  cursor: pointer;
}
h1 {
  margin-bottom: 13px;
  text-align: center;
}
button,
#todo-input {
  padding: 0.5rem;
}

#todo-input {
  width: 500px;
}

.todoItem {
  display: flex;
  align-items: center;
  margin: 8px 0;
}
todoItem button {
  margin-right: 8px;
}
completed .todoText {
  opacity: 0.6;
  text-decoration: line-through;
}
